@mixin breakpoint($point) {
  @if $point ==md {

    // 768px
    @media (width< 48em) {
      @content;
    }
  }
}

.admindashboard {
  display: flex;
  width: 100%;
  .sidebar-height{
    height:700px;
    @include breakpoint(md) {
    height :5px;
   background-color: brown;
    }
  }
 

  @include breakpoint(md) {
    flex-direction: column;
  }
  .user-content{
    margin-left: 30px;
    transition: 0.6s ease all;
    margin-top:60px;
  }
  .sidebar {
    height: 100%;
    width: 230px;
    background-color: #333;
    padding: 20px;
    top: 100px;
    display: flex;
    bottom:0;


    @include breakpoint(md) {
      background-color: #e1e1e1;
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      padding: 10px;
      flex: 1;
      height: 55px;
      align-items: center;
      justify-content: space-between;
    }
  }

  .sidebar ul {
    @include breakpoint(md) {
      display: flex;
      flex:1;
      justify-content: space-around;
      align-items: center;
      margin-bottom:0px
    }
  }

  .sidebar li {
    @include breakpoint(md) {


      
    }
  }

  .sidebar a {
    border-radius: 10px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.2s;
    @include breakpoint(md) {
      color: blueviolet;
     
    }
  }
  .sidebar a:hover {
    background-color: #555;
    border-style:inset 1px solid blueviolet;
   
    @include breakpoint(md) {
      color:rgb(73, 127, 235);
      background-color: #cecece;

    }
  }
 
  .admin-dash-content {
 
    margin:1em;
    width:100%;
    align-content: space-evenly;
    display: grid;
    row-gap: 1em;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    
  }

  .grid-items {
    text-align: center;
    border-radius: 3px;
    padding: 20px;
    font-size: 20px;
    background-color: #dcdcdc;
    height:100%;

    .list-group-item{
      font-size: 15px;
    }
  }

  .manage-cat-container {
    padding: 20px 10px;
    display: block;
    width: 100%;
    justify-content: center;
    margin-left:20px;
    @include breakpoint(md) {
      margin-top:50px;
    }

    .add-category {
      display: flex;
      width: 50%;
      height: 80px;
      align-items: center;
      justify-content: space-between;
    }
  }

}